<div align="center">
    <table border="1" width="1200" height="200" cellpadding="0" cellspacing="0">
        <tr height="150">
            <td align="center">
                @ASP_Blog.Models.Service.Config.WebsiteName<br />
                @if (User.Identity.IsAuthenticated)
                {
                    <p>@User.Identity.Name</p>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Выход" />
                    </form>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Вход</a>
                    <a asp-controller="Account" asp-action="Register">Регистрация</a>
                }
            </td>
        </tr>
        <tr height="50">
            <td align="center">
                <a asp-action="Index" asp-controller="Home">Главная</a>
                &nbsp;&nbsp;&nbsp;
                <a asp-action="Galleries" asp-controller="Home">Галерея</a>
                @if (User.IsInRole("admin"))
                {
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    @Html.ActionLink("Права доступа", "Index", "Roles")

                }
            </td>
        </tr>
    </table>
</div>