@model ASP_Blog.ViewModels.Roles.CreateRoleViewModel

<h2>Создание новой роли</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Roles" asp-action="CreateRole" method="post">
    <div class="form-group">
        <label asp-for="RoleName"></label><br />
        <input type="text" asp-for="RoleName" />
        <span asp-validation-for="RoleName"></span>
    </div>
    <div>
        <input type="submit" value="Создать" />
    </div>
</form>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}